
.configtable table {
    border-spacing: 0px;
    border-color: #666;
    border-style: none;
}
.configtable input[type="number"] {
    margin: 0px;
    border-radius: 0px;
    border: 2px solid #666;
    font-size: 20px;
    width: 80px;
}
.configtable .paste-button,
.configtable .modify-button ,
.configtable input.modify-button {
    padding: 2px;
    border-radius: 6px;
    border: 3px solid #666;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
}
.configtable input.modify-button {
    font-size: 1.5em;
    width: 100px;
}
.configtable .paste-button h3,
.configtable .modify-button h3{
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
}
.configtable .paste-button span {
    padding:0px; 
    margin:0px; 
    color: #d03333; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.configtable .paste-button:hover,
.configtable .modify-button:hover {
    border-color: #3590d0;
}
.configtable input.selected, 
.configtable input.selected:hover,
.configtable div.selected,
.configtable div.selected:hover
{
    border-color:#3590d0;
    background-color: #3590d088;
}
.configtable .container{
    vertical-align:top; 
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    padding: 2.5px;
    margin: 2.5px;
}
.configtable td {
    padding: 0px;
}
.configtable td.zlabel {
    vertical-align: bottom; 
    text-align: right;
    padding: 0px;
}
.configtable td.yaxis {
    border-width: 0px;
    border-right-style: sold; 
    border-right-width:5px;
    border-style: solid;
    border-color: inherit;
    width: 80px;
}
.configtable td.xaxis {
    border-width: 0px;
    border-bottom-style: sold; 
    border-bottom-width:5px;
    border-style: solid;
    border-color: inherit;
}
.configtable td.yaxis input {
    float: right;
}
.configtable td.xaxislabel {
    text-align: center;
    white-space: nowrap;
}
.configtable td.yaxislabel {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.configtable td.yaxislabel div {
        -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
        -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
        margin-left: -10em;
        margin-right: -10em;
}

.configtable .row_expand {
    height:5px; 
    cursor: ns-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.configtable .col_expand {
    width:3px; 
    cursor: ew-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.configtable .rowcol_expand {
    height:5px; 
    width:3px; 
    cursor: nwse-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}