.configtable svg {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.configtable svg g{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.configtable table {
    border-spacing: 0px;
    border-color: #666;
    border-style: none;
}
.configtable .number {
    margin: 0px;
    border-radius: 0px;
    border: 2px solid #666;
    font-size: 20px;
    width: 80px;
    padding: 3px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #50596288;
    font: bold 16px Arial;
}
.configtable .paste-button,
.configtable .modify-button ,
.configtable input.modify-value,
.configtable input.xres,
.configtable input.yres {
    border-radius: 6px;
    border: 3px solid #666;
    margin: 2px;
    width: 3em;
    height: 3em;
    display: inline-flex;
    align-items:center;
    justify-content: center;  
}
.configtable input.modify-value {
    font-size: 1.5em;
    height: 2em;
    width: 6em;
}
.configtable input.xres,
.configtable input.yres {
    font-size: 1.5em;
    height: 2em;
    width: 3em;
}
.configtable input.modify-button {
    font-size: 1.5em;
    width: 100px;
}
.configtable .paste-button h3,
.configtable .modify-button h3{
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
}
.configtable .paste-button span {
    padding:0px; 
    margin:0px; 
    color: #d03333; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.configtable .paste-button:hover,
.configtable .modify-button:hover {
    border-color: #3590d0 ;
}
.configtable .interpolate-x-button,
.configtable .interpolate-y-button {
    background: linear-gradient(90deg, #ff0000 35%, #ffff00 45%, #00ff00 55%, #00ffff 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.configtable .interpolate-y-button {
    transform: rotate(90deg);
}
.configtable .interpolate-xy-button h3 {
    background: linear-gradient(45deg, #ff0000 35%, #ffff00 45%, #00ff00 55%, #00ffff 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transform: scale(2);
}
.hidecircles circle {
    display: none;
}
.configtable line {
    stroke: white;
    stroke-width: 1;
}
.configtable text {
    fill: white;
}
.configtable path.selected,
.configtable circle.selected {
    fill: #3590d0 !important;
    display: block !important;;
}
.configtable ellipse.trail {
    stroke: #3590d0aa !important;
    stroke-width: 6;
    fill: #3590d088 !important;
}
.configtable line.trail {
    stroke: #3590d0aa !important;
    stroke-width: 6;
}
.configtable .number.selected, 
.configtable .number.selected:hover,
.configtable div.selected,
.configtable div.selected:hover
{
    border-color:#3590d0;
    background-color: #3590d0aa !important;
}
.configtable .container{
    vertical-align:top; 
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    padding: 2.5px;
    margin: 2.5px;
}
.configtable td {
    padding: 0px;
}
.configtable td.zlabel {
    vertical-align: bottom; 
    text-align: right;
    padding: 0px;
}
.configtable td.yaxis {
    border-width: 0px;
    border-right-style: sold; 
    border-right-width:5px;
    border-style: solid;
    border-color: inherit;
    width: 80px;
}
.configtable td.xaxis {
    border-width: 0px;
    border-bottom-style: sold; 
    border-bottom-width:5px;
    border-style: solid;
    border-color: inherit;
}
.configtable td.yaxis .number {
    float: right;
}
.configtable td.xaxislabel {
    text-align: center;
    white-space: nowrap;
}
.configtable td.yaxislabel {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.configtable td.yaxislabel div {
        -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
        -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
        margin-left: -10em;
        margin-right: -10em;
}

.configtable .row_expand {
    border: 2px solid #666;
    height:5px; 
    cursor: ns-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.configtable .col_expand {
    border: 2px solid #666;
    width:3px; 
    cursor: ew-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.configtable .rowcol_expand {
    border: 2px solid #666;
    height:5px; 
    width:3px; 
    cursor: nwse-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}